{% load short_title %}


<div class="grid w-full justify-items-center content-start">
    <div class="w-3/5 sm:w-full md:w-4/5 xl:w-full">
        <a target="_blank" href="{{ film.get_absolute_url }}"><img class="rounded-lg shadow-lg" src="{{ film.image.url }}" alt=""></a>
    </div>
    <div class="text-center">
        <a target="_blank" href="{{ film.get_absolute_url }}"><h2 class="mt-2">{{ film.title_ru|truncate_title|capfirst }}</h2>
    	<p>{% if film.year %}({{ film.year }}){% endif %}</p>
        {% if film.start_year %}
            ({{ film.start_year }}{% if film.end_year %} - {{ film.end_year }}{% endif %})
        {% endif %}</a>
    </div>
</div>