{% load static %}
{% load genre_list %}



<div class="col-6 col-sm-12 col-lg-6">
	<div class="card card--list">
		<a href="{{ film.get_absolute_url }}" class="card__cover">
			<img src="{{ film.image.url }}" alt="">
			<span class="card__play">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
			</span>
		</a>

		<div class="card__content">
			<h3 class="card__title"><a href="{{ film.get_absolute_url }}">{{ film.title_ru | capfirst }}</a></h3>
			<span class="card__category">
				{% for genre in film.genres.all|get_four_genres %}
				<a>{{ genre }}</a>
				{% endfor %}
			</span>

			<div class="card__wrap">
				{% if film.rating %}
					<span class="card__rate"> {{ film.rating }}</span>
				{% else %}
					<span class="card__rate"> -- </span>
				{% endif %}

				<ul class="card__list">
					{% if film.year %}
						<li>{{ film.year }}</li>
					{% endif %}
					{% if film.start_year %}
						<li>{{ film.start_year }}{% if film.end_year %} - {{ film.end_year }}{% endif %}</li>
					{% endif %}
					{% if film.rating >= 8.0 %}<li>&#127798;</li>{% endif %}
					{% if film.end_status %}<li>✔️</li>{% endif %}
				</ul>
			</div>

			<div class="card__description">
				<p>{{ film.plot }}</p>
			</div>
		</div>
	</div>
</div>