

  <div class="col-12">
    <ul class="paginator">
        {% if page_obj.has_previous %}
        <li class="paginator__item paginator__item--prev">
            <a href="?page={{ page_obj.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"/></svg></a>
        </li>
        {% endif %}

        <!-- First pages and dots -->
        {% if page_obj.has_previous %}
            {% if page_obj.number|add:-1 > 1 %}
                <li class="paginator__item"><a href="?page=1">1</a></li>
            {% endif %}
        {% endif %}

        <!-- Pages -->
        {% for p in paginator.page_range %}
            {% if p > page_obj.number|add:-1 and p < page_obj.number|add:2 %}
                <li class="paginator__item {% if page_obj.number == p %}paginator__item--active{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

<!--         <li class="paginator__item"><a href="#">1</a></li>
        <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
        <li class="paginator__item"><a href="#">3</a></li>
        <li class="paginator__item"><a href="#">4</a></li> -->

        <!-- Last page and dots -->
        {% if page_obj.has_next %}

            {% if page_obj.number|add:1 < page_obj.paginator.num_pages %}
                <li class="paginator__item"><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        {% endif %}

        <!-- Next page -->
        {% if page_obj.has_next %}
        <li class="paginator__item paginator__item--next">
            <a href="?page={{ page_obj.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"/></svg></a>
        </li>
        {% endif %}
    </ul>
  </div>