

  <div class="col-12">
    <ul class="paginator">
        <!-- First page -->
        <li class="paginator__item paginator__item--prev">
            <a href="?{% for param in get_params %}{{ param }}{% endfor %}page=1"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M8.5,12.8l5.7,5.6c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0c0.4-0.4,0.4-1,0-1.4l-4.9-5l4.9-5c0.4-0.4,0.4-1,0-1.4c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.5,0.1-0.7,0.3l-5.7,5.6C8.1,11.7,8.1,12.3,8.5,12.8C8.5,12.7,8.5,12.7,8.5,12.8z"/></svg></a>
        </li>


        <!-- Pages -->
        <!-- Pages without 1, 2, max-1, max -->
        {% if page_obj.number|add:-1 > 1 and page_obj.number|add:2 <= page_obj.paginator.num_pages %}
        {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="paginator__item paginator__item--active"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:2 %}
                <li class="paginator__item"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- For page number 1 -->
        {% elif page_obj.number == 1 %}
            {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="paginator__item paginator__item--active"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% elif p <= page_obj.number|add:3 %}
                <li class="paginator__item"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- For page number 2 -->
        {% elif page_obj.number == 2 %}
            {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="paginator__item paginator__item--active"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:2 %}
                <li class="paginator__item"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- For page max-1 -->
        {% elif page_obj.number == page_obj.paginator.num_pages|add:-1 %}
            {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="paginator__item paginator__item--active"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:1 %}
                <li class="paginator__item"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- For page max -->
        {% elif page_obj.number == page_obj.paginator.num_pages %}
            {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="paginator__item paginator__item--active"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% elif p >= page_obj.number|add:-3 %}
                <li class="paginator__item"><a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        {% endif %}

        <!-- Last page -->
        <li class="paginator__item paginator__item--next">
            <a href="?{% for param in get_params %}{{ param }}{% endfor %}page={{ page_obj.paginator.num_pages }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,11.29,9.88,5.64a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.95,5L8.46,17a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.71-.3l5.66-5.65A1,1,0,0,0,15.54,11.29Z"/></svg></a>
        </li>
    </ul>
  </div>