{% load static %}

<section class="section section--bg" data-bg="{% static 'img/section/section.jpeg' %}">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<h2 class="section__title">Рекомендации от SelFilm</h2>
			</div>
			<!-- end section title -->
		</div>

		<div class="row row--grid">
			{% for film in recommended_films %}
			<!-- card -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card">
					<a href="{{ film.get_absolute_url }}" class="card__cover">
						<img src="{{ film.image.url }}" alt="">
						<span class="card__play">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
						</span>
					</a>
					<div class="card__content">
						<h3 class="card__title"><a href="{{ film.get_absolute_url }}">{{ film.title_ru|capfirst }}</a></h3>
						<span class="card__category">
							<a>{{ film.genres.all|first|capfirst }}</a>
						</span>
						<span class="card__rate">{{ film.rating }}</span>
					</div>
				</div>
			</div>
			<!-- end card -->
			{% endfor %}
		</div>
	</div>
</section>
