{% extends 'base.html' %}
{% load static %}
{% load actor_list %}


{% block title %}{{ film.title_ru|capfirst }}{% endblock title %}

{% block content %}
<!-- details -->
<section class="section details">
	<!-- details background -->
	<div class="details__bg" data-bg="{% static 'img/home/home__bg4.jpg' %}"></div>
	<!-- end details background -->

	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="details__title">{{ film.title_ru|capfirst }}{% if film.title_en %} / {{ film.title_en }}{% endif %}</h1>
			</div>
			<!-- end title -->

			<!-- content -->
			<div class="col-12 col-xl-11">
				<div class="card card--details card--series">
					<!-- card cover -->
					<div class="card__cover">
						<img src="{{ film.image.url }}" alt="">
					</div>
					<!-- end card cover -->

					<!-- card content -->
					<div class="card__content">
						<div class="card__wrap">
							<span class="card__rate">{% if film.rating %}{{ film.rating }}{% else %}--{% endif %}</span>

							<ul class="card__list">
								{% if film.year %}
									<li>{{ film.year }}</li>
								{% endif %}
								{% if film.start_year %}
									<li>{{ film.start_year }}{% if film.end_year %} - {{ film.end_year }}{% endif %}</li>
								{% endif %}
								{% if film.rating >= 8.0 %}<li>🌶</li>{% endif %}
							</ul>
						</div>

						<ul class="card__meta">
							<li><span>Жанр:</span>
							{% for genre in film.genres.all %}
								<a>{{ genre }}</a>
							{% endfor %}

							<li><span>Год выпуска:</span>{{ film.year }}
								{% if film.start_year %}
									{{ film.start_year }}{% if film.end_year %} - {{ film.end_year }}
								{% endif %}
							{% endif %}
							</li>

							{% if film.duration %}
								<li><span>Продолжительность:</span>{{ film.duration }} мин</li>
							{% endif %}
							<li><span>Страна:</span>{% for country in film.countries.all %}<a>{{ country }}</a>{% endfor %}</a></li>
							<li><span>Режиссер:</span>
								{% for director in film.directors.all|actor_list %}
									<a>{{ director }}</a>
								{% endfor %}
							</li>
							<li>
								<span>Актеры:</span>
								{% for actor in film.actors.all|actor_list %}
									<a>{{ actor }}</a>
								{% endfor %}
							</li>
						</ul>

						<div class="card__description card__description--details">
							{{ film.plot }}
						</div>
					</div>
					<!-- end card content -->
				</div>
			</div>
			<!-- end content -->
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->

<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Отзывы</h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Комментарии</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Рецензии</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="Комментарии">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Комментарии</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Рецензии</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-8">
				<!-- content tabs -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
						<div class="row">
							<!-- comments -->
							<div class="col-12">
									<form action="{{ film.get_absolute_url }}" method="POST" class="form my-5">
										{% csrf_token %}
										<input type="email" name="email" class="form__input" placeholder="Email" required="true">
										<textarea id="text" name="text" class="form__textarea" placeholder="Оставить комментарий" required="true"></textarea>
										<button type="submit" class="form__btn">Отправить</button>
									</form>
								<div class="comments">
									<ul class="comments__list">
										{% for comment in film.comments.all %}
											{% if not comment.is_child %}
												<li class="comments__item">
													<div class="comments__autor">
														<img class="comments__avatar" src="{% static 'img/user.svg' %}" alt="">
														<span class="comments__name">{{ comment.email }}</span>
														<span class="comments__time">{{ comment.date_pub|date:"d.m.Y" }}, {{ comment.date_pub|time:"G:i" }}</span>
													</div>
													<p class="comments__text">{{ comment.text }}</p>
													<div class="comments__actions">
														<div class="comments__rate">
															<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"/></svg>12</button>

															<button type="button">7<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"/></svg></button>
														</div>

														<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z"/></svg>Reply</button>
														<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,14a1,1,0,0,0-1.22.72A7,7,0,0,1,11,20H5.41l.64-.63a1,1,0,0,0,0-1.41A7,7,0,0,1,9.25,6.22a1,1,0,0,0-.5-1.94A9,9,0,0,0,4,18.62L2.29,20.29a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h8a9,9,0,0,0,8.72-6.75A1,1,0,0,0,19,14ZM21,2a1,1,0,0,0-1,1h0a5,5,0,1,0,.3,7.75A1,1,0,1,0,19,9.25,3,3,0,1,1,17,4a3,3,0,0,1,2.23,1H18a1,1,0,0,0,0,2h3a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2Z"/></svg>Quote</button>
													</div>
												</li>
												<!-- {% if comment.child_comments %} -->
													{% for child_comment in comment.child_comments.all %}
														<li class="comments__item comments__item--{{ child_comment.type }}">
															<div class="comments__autor">
																<img class="comments__avatar" src="{% static 'img/user.svg' %}" alt="">
																<span class="comments__name">{{ child_comment.author }}</span>
																<span class="comments__time">{{ child_comment.date_pub }}</span>
															</div>
															<p class="comments__text">{% if child_comment.type == 'quote' %}<span>{{ comment.text }}</span>{% endif %}{{ child_comment.text }}</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"/></svg>8</button>

																	<button type="button">3<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"/></svg></button>
																</div>

																<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z"/></svg>Reply</button>
																<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,14a1,1,0,0,0-1.22.72A7,7,0,0,1,11,20H5.41l.64-.63a1,1,0,0,0,0-1.41A7,7,0,0,1,9.25,6.22a1,1,0,0,0-.5-1.94A9,9,0,0,0,4,18.62L2.29,20.29a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h8a9,9,0,0,0,8.72-6.75A1,1,0,0,0,19,14ZM21,2a1,1,0,0,0-1,1h0a5,5,0,1,0,.3,7.75A1,1,0,1,0,19,9.25,3,3,0,1,1,17,4a3,3,0,0,1,2.23,1H18a1,1,0,0,0,0,2h3a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2Z"/></svg>Quote</button>
															</div>
														</li>
													{% endfor %}
												<!-- {% endif %} -->
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- end comments -->
						</div>
					</div>

					<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
						<div class="row">
							<!-- reviews -->
							<div class="col-12">
								<div class="reviews">
									<ul class="reviews__list">
										{% if reviews %}
											{% for review in reviews %}
											<li class="reviews__item">
												<div class="reviews__autor">
													<img class="reviews__avatar" src="{% static 'img/user.svg' %}" alt="">
													<span class="reviews__name">{{ review.title }}</span>
													<span class="reviews__time">{{ review.created|date:"d.m.Y" }}, {{ review.created|time:"G:i" }} от {{ review.email }}</span>

													<span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>{{ review.rating }}</span>
												</div>
												<p class="reviews__text">{{ review.text }}</p>
											</li>
											{% endfor %}
										{% else %}
											<p class="faq__text pt-4">Рецензий на "{{ film.title_ru|capfirst }}" пока нет. Станьте первым!</p>
										{% endif %}
									</ul>

									<form {% if type %}action="{% url 'add-film-review' film.id %}"{% else %}action="{% url 'add-serial-review' film.id %}"{% endif %} method="POST" class="form">
										{% csrf_token %}
										<input type="email" required="true" class="form__input" placeholder="Email" name="email">
										<input type="text" required="true" class="form__input" placeholder="Заголовок" name="title">
										<textarea class="form__textarea" required="true" placeholder="Отзыв" name="text"></textarea>
										<div class="form__slider">
											<div class="form__slider-rating" id="slider__rating"></div>
											<div class="form__slider-value" id="form__slider-value"></div>
											<input type="text" hidden="true" value="8.6" id="hidden_rating_input" name="rating">
										</div>
										<button type="submit" class="form__btn">Отправить</button>
									</form>
								</div>
							</div>
							<!-- end reviews -->
						</div>
					</div>
				</div>
				<!-- end content tabs -->
			</div>

			<!-- sidebar -->
			<div class="col-12 col-lg-4 col-xl-4">
				<div class="row row--grid">
					<!-- section title -->
					<div class="col-12">
						<h2 class="section__title section__title--sidebar">Вам также может понравиться...</h2>
					</div>
					<!-- end section title -->

					{% for film in rec_films %}
					<!-- card -->
					<div class="col-6 col-sm-4 col-lg-6">
						<div class="card">
							<a href="{{ film.get_absolute_url }}" class="card__cover">
								<img src="{{ film.image.url }}" alt="">
								<span class="card__play">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
								</span>
							</a>
							<div class="card__content">
								<h3 class="card__title"><a href="{{ film.get_absolute_url }}">{{ film.title_ru|capfirst }}</a></h3>
								<span class="card__category">
									<a>{{ film.genres.all|first }}</a>
								</span>
								{% if film.rating %}
									<span class="card__rate"> {{ film.rating }}</span>
								{% else %}
									<span class="card__rate"> -- </span>
								{% endif %}
							</div>
						</div>
					</div>
					<!-- end card -->
					{% endfor %}

				</div>
			</div>
			<!-- end sidebar -->
		</div>
	</div>
</section>
<!-- end content -->
{% endblock content %}


</html>