{% extends 'base.html' %}
{% load genre_list %}


{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -m-4">
    {% for film in films %}
      <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col shadow-lg">
          <div class="w-20 h-20 mt-6 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
            <img class="rounded-lg" src="{{ film.image.url }}" alt="">
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ film.title_ru}} / {{ film.title_en|truncatechars:10 }}</h2>
            <p class="leading-relaxed text-base"><b>Жанры:</b> {% for genre in film.genres.all|split_genres %}{{ genre }}{% endfor %}</p>
            <p class="leading-relaxed text-base"><b>Год:</b> {{ film.year }}</p>
            <p class="leading-relaxed text-base"><b>Сюжет:</b> {{ film.plot|truncatechars:110 }}</p>
            <a href="{{ film.get_absolute_url }}" class="mt-3 text-indigo-500 inline-flex items-center">Подробнее
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>


{% endblock content %}
