{% extends 'base.html' %}
{% load static %}



{% block content %}

<!--Левый фильм -->
<div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 justify-items-center mt-10">

        <div class="grid w-full justify-items-center">
            <div class="mb-4 sm:mb-6">
            {% if film_1 %}
                <h2 class="text-lg text-indigo-800"><a href="{{ film_1.get_absolute_url }}" target="_blank">{{ film_1.title_ru|capfirst }}{% if film_1.year %} ({{ film_1.year }}){% endif %}</a></h2>
            {% else %}
                <h2 class="text-lg text-indigo-800">Film 1</h2>
            {% endif %}
            </div>

            <div class="grid w-2/5 sm:w-3/5 md:w-5/12 xl:w-3/5 justify-items-center">
            {% if film_1.image.url %}
                <a href="{{ film_1.get_absolute_url }}" target="_blank"><img class="rounded-lg shadow-lg" src="{{ film_1.image.url }}" alt=""></a>
            {% else %}
                <img class="rounded-lg shadow-lg" src="{% static 'images/poster.jpeg' %}" alt="">
            {% endif %}
            </div>
        </div>

        <!--Правый фильм-->
        <div class="grid w-full justify-items-center">
            <div class="mt-8 sm:mt-0 mb-4 sm:mb-6">
            {% if film_2 %}
                <h2 class="text-lg text-indigo-800"><a href="{{ film_2.get_absolute_url }}" target="_blank">{{ film_2.title_ru|capfirst }} {% if film_2.year %}({{ film_2.year }}){% endif %}</a></h2>
            {% else %}
                <h2 class="text-lg text-indigo-800">Film 2</h2>
            {% endif %}
            </div>

            <div class="grid w-2/5 sm:w-3/5 md:w-5/12 xl:w-3/5 justify-items-center">
            {% if film_2.image.url %}
                <a href="{{ film_2.get_absolute_url }}" target="_blank"><img class="rounded-lg shadow-lg" src="{{ film_2.image.url }}" alt=""></a>
            {% else %}
                <img class="rounded-lg shadow-lg" src="{% static 'images/poster.jpeg' %}" alt="">
            {% endif %}
            </div>
        </div>
    </div>

    <!--    Поисковые вводы, кнопка поиска-->
    <div class="grid grid-cols-1">
        <div class="w-full justify-items-center">
               <div class="mt-6 w-full text-sm sm:text-base">
                   <form method="post" action="{% url 'search-films' %}">
                        {% csrf_token %}
                        <div class="grid grid-cols-1 sm:grid-cols-2 justify-items-center">
                            <div class="w-44 mb-4 sm:mb-0 md:w-44 lg:w-56 xl:w-80">
                                {{ form_1 }}
                            </div>
                            <div class="w-44 mb-4 sm:mb-0 md:w-44 lg:w-56 xl:w-80">
                                {{ form_2 }}
                            </div>
                        </div>
                        <div class="grid grid-cols-1 justify-items-center">
                            <button type="submit" class="grid w-32 md:w-40 bg-gray-100 text-gray-700 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded-xl text-base mt-4 md:mt-0"><span><i class="fas fa-search mr-2"></i>Подобрать</span></button>
                        </div>
                   </form>
               </div>

                {% if films_1_query or films_2_query%}
                <hr class="mt-8 mb-4">
                {% if films_1_query %}
                    <p>Возможно вы искали (фильм №1):</p>
                    <ul>
                      {% for film in films_1_query %}
                            <li><a target="_blank" href="{{ film.get_absolute_url }}">{{ film.title_ru|capfirst }} ({{ film.year }})</a></li>
                      {% endfor %}
                    </ul>
                {% endif %}
                {% if films_2_query %}
                <p>Возможно вы искали (фильм №2):</p>
                 <ul>
                  {% for film in films_2_query %}
                        <li><a target="_blank" href="{{ film.get_absolute_url }}">{{ film.title_ru|capfirst }} ({{ film.year }})</a></li>
                  {% endfor %}
                 </ul>
                 {% endif %}
                 {% endif %}

            {% if request.method == 'POST' and not films_1_query and not films_2_query and not film_1 and not film_2 %}
                <hr class="mt-8 mb-4">
                <p>По вашим запросам ничего не найдено</p>
            {% endif %}
        </div>
    </div>


<!--Результаты поиска-->
    {% if top_ten %}
    <hr class="mt-8">
        <div class="grid gap-x-10 gap-y-10 grid-cols-10 mt-10 text-sm">
                {% for film in top_ten %}
                    {% include 'includes/card_for_top_ten.html' %}
                {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock content %}

























