{% extends 'base.html' %}
{% load static %}

{% block title %}Подбор фильмов{% endblock title %}

{% block content %}
 
<!-- page title -->
<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpeg' %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <!-- section title -->
          <h1 class="section__title">{% block left_section %}Подбор фильмов{% endblock left_section %}</h1>
          <!-- end section title -->

          <!-- breadcrumb -->
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="index.html">Главная</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">{% block right_section %}Подбор фильмов{% endblock right_section %}</li>
          </ul>
          <!-- end breadcrumb -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- selected films -->
<section class="section">
  <div class="container">
    <!-- poster section -->
    <div class="row align-items-center justify-content-center">
      <!-- first film -->
      <div class="col-12 col-md-6">
        {% if film_1 %}
          <a href="{{ film_1.get_absolute_url }}" target="_blank"><h3 class="section__title text-md-center" style="text-align: center; font-size: 30px;">{{ film_1.title_ru|capfirst }}
          {% block year_1 %}{% if film_1.year %} ({{ film_1.year }}){% endif %}{% endblock year_1 %}</h3></a>
          <a href="{{ film_1.get_absolute_url }}" target="_blank">
            <div class="card">
            <img src="{{ film_1.image.url }}" class="card__cover mx-auto" alt="">
            </div>
          </a>
        {% else %}
          <a><h3 class="section__title text-md-center" style="text-align: center; font-size: 30px;">{% block title_1 %}Фильм 1{% endblock title_1 %}</h3></a>
          <div class="card">
            <img src="{% static 'img/poster.png' %}" class="card__cover mx-auto" alt="">
          </div>
        {% endif %}
      </div>

      <!-- second film -->
      <div class="col-12 col-md-6">
        {% if film_2 %}
          <a href="{{ film_2.get_absolute_url }}" target="_blank"><h3 class="section__title text-md-center mt-4 mt-md-0" style="text-align: center; font-size: 30px;">{{ film_2.title_ru|capfirst }}
          {% block year_2 %}{% if film_2.year %} ({{ film_2.year }}){% endif %}{% endblock year_2 %}</h3></a>
          <a href="{{ film_2.get_absolute_url }}" target="_blank">
            <div class="card">
              <img src="{{ film_2.image.url }}" class="card__cover mx-auto" alt="">
            </div>
          </a>
        {% else %}
          <a><h3 class="section__title text-md-center mt-4 mt-md-0" style="text-align: center; font-size: 30px;">{% block title_2 %}Фильм 2{% endblock title_2 %}</h3></a>
          <div class="card">
            <img src="{% static 'img/poster.png' %}" class="card__cover mx-auto" alt="">
          </div>
        {% endif %}
      </div>
    </div>
    <form method="post"  action="{% block action_form %}{% url 'search-films' %}{% endblock action_form %}" class="form--contacts">
      {% csrf_token %}
      <div class="row align-items-center mt-4">
          <div class="col-12 px-5 px-md-4 px-lg-1 px-xl-4 mx-auto col-md-6 col-lg-4 offset-lg-1">
            <div class="">
                {{ form_1 }}
            </div>
          </div>
          <div class="col-12 px-5 px-md-4 px-lg-1 px-xl-4 mx-auto col-md-6 col-lg-4 offset-lg-2">
            <div class="">
              {{ form_2 }}
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="section__btn mt-3" type="submit">Подобрать</button>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- search results -->
{% if request.method == 'POST' %}
<section class="section section--bg search__section" data-bg="{% static 'img/section/section.jpeg' %}">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12">
        <h2 class="section__title">Результаты подбора</h2>
      </div>
      <!-- end section title -->
    </div>
{% endif %}

     {% if films_duplicate %}
       <p class="feature__text">{% block pick_smth %}Выберите разные фильмы.{% endblock pick_smth %}</p>
     {% else %}
       {% if films_1_query or films_2_query %}

         {% if films_1_query and not film_2 and not films_2_query %}
          <h5 class="footer__title">{% block case1 %}Возможно вы имели в виду (Фильм № 1):{% endblock case1 %}</h5>
          <ul class="footer__list">
            {% for film in films_1_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q1 %}({{ film.year }}){% endblock year_q1 %}</a> 
                <!-- <a href="" id="copy__btn"><i class="far fa-copy footer__title ml-2"></i></a></li> -->
            {% endfor %}
          </ul>
          <h5 class="footer__title mt-3">{% block case2 %}Фильм № 2 не найден.{% endblock case2 %}</h5>
         {% endif %}

         {% if films_1_query and film_2 %}
         <h5 class="footer__title">{% block case3 %}Возможно вы имели в виду (Фильм № 1):{% endblock case3 %}</h5>
          <ul class="footer__list">
            {% for film in films_1_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q1f2 %}({{ film.year }}){% endblock year_q1f2 %}</a></li>
            {% endfor %}
          </ul>
         {% endif %}

         {% if films_2_query and not film_1 and not films_1_query %}
         <h5 class="footer__title">{% block case4 %}Фильм № 1 не найден.{% endblock case4 %}</h5>
         <h5 class="footer__title">{% block case5 %}Возможно вы имели в виду (Фильм № 2):{% endblock case5 %}</h5>
          <ul class="footer__list">
            {% for film in films_2_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q2 %}({{ film.year }}){% endblock year_q2 %}</a></li>
            {% endfor %}
          </ul>
         {% endif %}

         {% if films_2_query and film_1 %}
         <h5 class="footer__title">{% block case6 %}Возможно вы имели в виду (Фильм № 2):{% endblock case6 %}</h5>
          <ul class="footer__list">
            {% for film in films_2_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q2f1 %}({{ film.year }}){% endblock year_q2f1 %}</a></li>
            {% endfor %}
          </ul>
         {% endif %}

         {% if films_1_query and films_2_query %}
         <h5 class="footer__title">{% block case7 %}Возможно вы имели в виду (Фильм № 1):{% endblock case7 %}</h5>
          <ul class="footer__list">
            {% for film in films_1_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q2q1 %}({{ film.year }}){% endblock year_q2q1 %}</a></li>
            {% endfor %}
          </ul>
          <h5 class="footer__title mt-3">{% block case8 %}Возможно вы имели в виду (Фильм № 2):{% endblock case8 %}</h5>
          <ul class="footer__list">
            {% for film in films_2_query %}
              <li><a href="{{ film.get_absolute_url }}" target="_blank">{{ film.title_ru|capfirst }} {% block year_q1q2 %}({{ film.year }}){% endblock year_q1q2 %}</a></li>
            {% endfor %}
          </ul>
         {% endif %}

      {% elif film_1 and not film_2 %}
      <h5 class="footer__title">{% block case9 %}Фильм № 2 не найден.{% endblock case9 %}</h5>

      {% elif film_2 and not film_1 %}
      <h5 class="footer__title">{% block case10 %}Фильм № 1 не найден.{% endblock case10 %}</h5>

      {% elif request.method == 'POST' and not film_1 and not film_2 %}
      <h5 class="footer__title">{% block case11 %}По вашему запросу фильмы не найдены. Попробуйте найти названия фильмов через поиск.{% endblock case11 %}</a></h5>

      {% endif %}
     {% endif %}

    {% if top_ten %}
    <div class="row row--grid">
      {% for film in top_ten %}
      <!-- card -->
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <a href="{{ film.get_absolute_url }}" class="card__cover">
            <img src="{{ film.image.url }}" alt="">
            <span class="card__play">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
            </span>
          </a>
          <div class="card__content">
            <h3 class="card__title"><a href="#">{{ film.title_ru|capfirst }}</a></h3>
            <span class="card__category">
              <a>{{ film.genres.all|first|capfirst }}</a>
            </span>
            <span class="card__rate">{{ film.rating }}</span>
          </div>
        </div>
      </div>
      <!-- end card -->
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
<!-- end search result -->

{% endblock content %}