{% extends 'films/film_detail.html' %}
{% load static %}
{% load attrs_list %}
{% load actor_list %}

{% block title %} {{ film.title_ru|capfirst }} {% if film.title_en %}/ {{ film.title_en }} {% endif %} {% endblock %}

{% block obj_info %}
<p class="text-base"><b>Год выпуска:</b> {{ film.start_year }}{% if film.end_year and film.end_year != film.start_year%} - {{ film.end_year }}{% endif %} {% if not film.end_status %} - по н.в. {% else %} (сериал закончился){% endif %}</p>
<p class="text-base"><b>Страна: </b>{{ film.countries.all|object_list }}</p>
<p class="text-base"><b>Жанр: </b> {{ film.genres.all|object_list }}</p>
<p class="text-base"><b>Продолжительность серии:</b> {{ film.duration }} минут</p>
{% if film.seasons %}<p class="text-base"><b>Сезоны:</b> {{ film.seasons }}</p>{% endif %}
{% if film.series %}<p class="text-base"><b>Всего серий:</b> {{ film.series }}</p>{% endif %}
{% endblock obj_info %}

