{% extends 'films/film_detail.html' %}
{% load static %}

{% block title %} {{ film.title_ru|capfirst }} {% if film.title_en %}/ {{ film.title_en }} {% endif %} {% endblock %}

{% block obj_info %}
<p class="text-base"><b>Год выпуска:</b> {{ film.start_year }}{% if film.end_year %} - {{ film.end_year }} (сериал закончился){% endif %}</p>
<p class="text-base"><b>Страна:</b> {{ countries }}</p>
<p class="text-base"><b>Жанр:</b> {{ genres }}</p>
<p class="text-base"><b>Продолжительность серии:</b> {{ film.duration }} минут</p>
{% if film.seasons %}<p class="text-base"><b>Сезоны:</b> {{ film.seasons }}</p>{% endif %}
{% if film.series %}<p class="text-base"><b>Всего серий:</b> {{ film.series }}</p>{% endif %}
{% endblock obj_info %}

