{% extends 'base.html' %}
{% load static %}

{% block title %} {{ film.title_ru|capfirst }} {% if film.title_en %}/ {{ film.title_en }} {% endif %} {% endblock %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-5/6 mx-auto">

      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="{% static 'images/pic-8.png' %}">
      </div>

      <div class="text-3xl text-center mb-5 mt-8 text-indigo-700">
			<h1>{{ serial.title_ru|capfirst }} {% if serial.title_en %}/ {{ serial.title_en }} {% endif %}</h1>
    	</div>

      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-2/5 sm:w-3/5 rounded-full inline-flex items-center justify-center">
            <img class="rounded-lg" src="{{ serial.image.url }}" alt="">
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Рейтинг IMDb: {{ serial.rating }}</h2>
            <div class="w-12 h-1 bg-indigo-700 rounded mt-2 mb-4"></div>
            <p class="text-base"><b>Год выпуска:</b> {{ serial.start_year }}{% if serial.end_year %} - {{ serial.end_year }} (сериал закончился){% endif %}</p>
            <p class="text-base"><b>Страна:</b> {{ countries }}</p>
            <p class="text-base"><b>Жанр:</b> {{ genres }}</p>
            <p class="text-base"><b>Продолжительность серии:</b> {{ serial.duration }} минут</p>
            {% if serial.seasons %}<p class="text-base"><b>Сезоны:</b> {{ serial.seasons }}</p>{% endif %}
            {% if serial.series %}<p class="text-base"><b>Всего серий:</b> {{ serial.series }}</p>{% endif %}

          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center text-justify">
          <p class="leading-relaxed text-lg mb-4">{{ serial.plot }}</p>
          <hr>
          <p class="text-base"><b>Режисер:</b> {{ directors }}</p>
          <p class="text-base"><b>Актеры:</b> {{ actors }}</p>
<!--          <a class="text-indigo-500 inline-flex items-center">Learn More-->
<!--            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
<!--              <path d="M5 12h14M12 5l7 7-7 7"></path>-->
<!--            </svg>-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
